.box {
    height: 800px;
}

.box6 {
 background: cadetblue;
}

.box1 {
    background: cadetblue;
   }

   .box2 {
    background: rgb(114, 20, 98);
   }


   .box3 {
    background: rgb(216, 74, 128);
   }


   .box4 {
    background: rgb(91, 30, 104);
   }

